#caja{
    width: 228px;
    height: 150px;
    color: rgb(192, 255, 195);
    text-align: center;
    padding: 10px;
    background-color: lightslategray;
    box-shadow: -16px 0px 25px 2px rgba(3,131,161,0.98);
    border-radius: 5px 18px 5px 18px;
    border: 2px solid rgb(192, 255, 195);
}
.iconos {
color:lightslategray ;
}