/* font-family: 'Caveat', cursive;
font-family: 'Lobster', cursive; */


h4{
    background: #d3de58;
background: linear-gradient(132deg,#d3de58 0%, #ff9900 80%);
background: -webkit-linear-gradient(132deg,#d3de58 0%, #ff9900 80%);
background: -moz-linear-gradient(132deg,#d3de58 0%, #ff9900 80%);
    text-align: center;
    font-size: 24px;
}
h5{
    font-size: 32px;
}
.destacados{
    font-family: 'Lobster', cursive;
    color: rebeccapurple;
    font-size: 18px;
    text-transform: uppercase;
}
p{
    margin: 50px;
    text-align: center;
    width: 300px;
    column-count: 2;
    column-gap: 50px;

}
h6{
    font-family: 'Caveat', cursive;
}
a{
    background-color: powderblue;
}
a:hover{
    background-color: orange;
}